<div class="w-2xl">
  <!-- Profesor -->
  <div>
    <div
      class="border-b-slate-200 border-b-2 flex justify-between items-center"
    >
      <h2 class="font-bold text-3xl">Profesores</h2>
      <button>💁‍♀️</button>
    </div>
    <!-- lista de profesores -->
    hola
  </div>
  <!-- alumnos -->
  <div>
    <div
      class="border-b-slate-200 border-b-2 flex justify-between items-center"
    >
      <h2 class="font-bold text-3xl">Alumnos</h2>
      <div class="flex gap-2">
        <span>"Cantidad de alumnos" Alumnos</span>
        <button>🎅</button>
      </div>
    </div>
  </div>
</div>
