<header
  class="flex items-center justify-between w-full border-b-slate-200 py-4 px-8 border-b-1"
>
  <div class="flex items-center gap-3">
    <span class="">&#9776;</span>
    <img
      src="Google_Classroom_Logo.png"
      alt="classroom-icon"
      class="h-6 ml-4"
    />
    <h1 class="font-normal text-gray-500 text-[22px]">Classroom</h1>
  </div>
  <nav class="flex gap-2">
    <app-profile />
  </nav>
</header>
<div class="grid grid-cols-[auto_1fr] grid-rows-[1fr]">
  <!-- Todo lo que tiene que ver con el asidde -->
  <app-aside>
    <app-aside-section>
      <app-aside-item
        title="Home"
        [item]="{ imgSrc: '/assets/aside-home.svg', imgAlt: 'home' }"
      />
      <app-aside-item
        title="Calendario"
        [item]="{ imgSrc: '/assets/aside-calendar.svg', imgAlt: 'calendar' }"
      />
    </app-aside-section>
    <app-aside-section>
      <app-aside-item title="Clases impartidas" />
      <app-aside-item title="Para Revisar" />
      <app-aside-list-item title="Clases">
        <app-aside-item title="Clase 1" />
        <app-aside-item title="Clase 2" />
        <app-aside-item title="Clase 3" />
      </app-aside-list-item>
      <app-aside-item title="Tareas" />
      <app-aside-item title="Exámenes" />
    </app-aside-section>
    <app-aside-section>
      <app-aside-item title="Clases Archivadas" />
      <app-aside-item title="Ajustes" />
    </app-aside-section>
  </app-aside>
  <app-dashboard-profesor />
</div>
