<header
  class="flex items-center justify-between w-full border-b-slate-200 py-4 px-8 border-b-2"
>
  <div class="flex">
    <span class="">&#9776;</span>
    <img src="" alt="classroom-icon" />
    <h1 class="font-semibold text-gray-500 text-2xl">Classroom</h1>
  </div>
  <nav class="">
    <span>&#9783;</span>
  </nav>
</header>
<div class="flex flex-row-reverse">
  <main class="flex flex-col items-center justify-center w-full">
    <div class="flex flex-col items-center justify-center w-full">
      <h2>Dashboard</h2>
      <p>Welcome to the classroom!</p>
    </div>
    <div class="flex flex-col items-center justify-center w-full">
      <h3>Classroom</h3>
      <p>Classroom description goes here.</p>
    </div>
    <div class="flex flex-col items-center justify-center w-full">
      <h4>Classroom</h4>
      <p>Classroom description goes here.</p>
    </div>
  </main>
  <app-aside>
    <app-aside-section>
      <h2>Classroom</h2>
      <p>Classroom description goes here.</p>
    </app-aside-section>
  </app-aside>
</div>
